.data-box{
    background-color: rgb(32, 6, 67);
    color: white;
    border-color: rgb(230, 133, 15);
    padding: 20px;
    text-align: center;
    justify-content: center;
}
#search{
    padding: 8px;
    border-radius: 10px;
}
#input{
    padding: 8px;
    border-radius: 10px;
}
.info{
    
}

